body {width: 100%;
    background-color: #F0E3A7;font-size: 1.2em;
    }

header {
    margin-top: 0%;
    margin-right: -1%;
    margin-left: -1%;
    margin-bottom: 0%;}

    h1 {font-size: 25px; color: #F9B43C ;
        text-align: center;}

    img {float: right;
     height: 160px;
     margin-top:-5%;
     margin-right: 1%;}

nav { width: 80%;
    background-color: #F9B43C ;  
    margin-top: 0%;
    margin-right: -1%;
    margin-left: -1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    text-align: center;
    }

h2{text-align: center;}

main{margin-top:1%;
    margin-right: -1%;
    margin-left: -1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    background-color:#F0E3A7 ;
    width: 80%;}

aside{margin-top: -52%;
    text-align: right;
    float: right;
    width: 20%;
    padding-left: 2%;
    color: #F0E3A7;
    background-color: #4C4F51 ;
}    

footer{background-color: #F0E3A7;
    margin-top: -2%;
    margin-right: -1%;
    margin-left: -1%;}

